<div class="relative flex flex-col items-center justify-center min-h-screen bg-center">
    <div class="absolute inset-0 bg-black bg-opacity-70"></div>
    <div class="relative z-10 text-center py-32">
        <h1 class="text-white text-center text-5xl md:text-6xl lg:text-7xl xl:text-8xl font-display font-bold ">Welcome to</h1>
        <h1 class="text-white text-center text-5xl md:text-6xl lg:text-7xl xl:text-8xl font-display font-black mb-">Psalm 23 Café </h1>
        <h1 class="text-white text-center text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-display font-bold mb-12 ">Management System</h1>
        <a routerLink="/login" class="hover:bg-slate-700 inline-block bg-yellow-800 text-white uppercase text-sm tracking-widest 
        font-heading px-8 py-4">login</a>
    </div>
    <div class="relative z-10 mx-auto max-w-4xl flex justify-between uppercase text-white font-heading tracking-widest text-sm">
        <span class="flex items-center mr-9">
            <img class="mr-1" src="/assets/facebook.png" alt="">
            <a href="https://www.facebook.com/profile.php?id=61557756654177" class="border-b border-white">Psalm 23 Café</a>
        </span>
        <span class="flex items-center mr-9">
            <img class="mr-1" src="/assets/direction.png" alt="">
            <p>26 Dona Aurora Street</p>
        </span>
        <span class="flex items-center ">
            <img class="mr-1" src="/assets/phone.png" alt="">
            <p>0956 705 2431</p>
        </span>

    </div>
    <img src="/assets/yellowcafe.jpg" class="w-full h-full absolute inset-0 object-cover opacity-60" />
</div>

<div class="-mt-24 relative w-full py-12 px-12 bg-yellow-900"></div>