
.container {
  background-color: #ffd36f;
  min-height: 79vh;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.main-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

.content {
  h2 {
    font-size: 35px;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }

  .action-buttons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 600px;
  }

  .search-input {
    width: 250px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .approve-button {
    background-color: #f2d14b;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
  }

  .user-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;

    th,
    td {
      border: 1px solid #ddd;
      padding: 10px;
    }

    th {
      background-color: #f2f2f2;
      font-weight: bold;
    }
  }

  .operation-buttons-horizontal {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    gap: 10px;
  }

  .update-button,
  .delete-button,
  .disable-button {
    width: 120px;
    text-align: center;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: black;
    font-size: 15px;
  }

  .update-button {
    background-color: #4f9efc;
  }

  .delete-button {
    background-color: #f44336;
  }

  .disable-button {
    background-color: #fdd835;
  }
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-container {
  background-color: #ffd36f;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  position: relative;
}

.popup-container h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: bold;
  text-align: center;
}

.popup-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.info p {
  margin: 0;
  font-size: 14px;
}

.action-buttons {
  display: flex;
  gap: 10px;
}

.accept-button {
  background-color: #f2d14b;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.reject-button {
  background-color: #f44336;
  border: none;
  padding: 10px 15px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  color: #333;
  cursor: pointer;
  font-weight: bold;
  z-index: 1100;
}

.close-popup:hover {
  color: #f44336;
}

.delete-popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.delete-popup-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F9C03F;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  outline: 2px solid black;
}

.delete-popup-modal h2 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-right: 150px;
}

.delete-button-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.delete-button-group button {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  background-color: #FFD500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: 2px solid black;
}

.delete-button-group button:hover {
  background-color: #009688;
}

.close-delete-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  color: #333;
  cursor: pointer;
  font-weight: bold;
  z-index: 1100;
}

.close-delete-popup:hover {
  color: #f44336;
}

.disable-popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.disable-popup-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F9C03F;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  outline: 2px solid black;
}

.disable-popup-modal h2 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-right: 150px;
}

.disable-button-group {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.disable-button-group button {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  background-color: #FFD500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: 2px solid black;
}

.disable-button-group button:hover {
  background-color: #009688;
}

.close-disable-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  color: #333;
  cursor: pointer;
  font-weight: bold;
  z-index: 1100;
}

.close-disable-popup:hover {
  color: #f44336;
}
