<app-header />
<div class="container">
  <app-leftsidebar/>
  <div class="main-content" [class.active]="isMenuActive">
    <div class="button-container" *ngIf="!showRestockForm">
      <button (click)="toggleShowItemForm()">+ Add Item</button>
      <button (click)="toggleRestockForm()">Restock</button>
    </div>

    <app-restock-form
    *ngIf="showRestockForm"
    (visible)="toggleRestockForm()"
    >
</app-restock-form>

    <div class="card-container" *ngIf="!showRestockForm">
      <!--div class="card" *ngFor="let item of items$ | async" (click)="showItemDetails(item)"-->
      <div class="card" *ngFor="let item of items" (click)="showItemDetails(item)">
        <span>{{ item.category }}</span>
        <h1>{{ item.name }}</h1>
        <p>{{ item.stock || 0 }} {{ item.unit }}</p>
      </div>
    </div>
  </div>
</div>

<!-- Popup for item details -->
<app-item-detail
  *ngIf="showItemDetail"
  [item]="selectedItem"
  (visible)="toggleRestockForm()"
  (close)="closeItemDetailsModal()"
></app-item-detail>

<!--
<app-item-form
  *ngIf="showItemForm"
  (visible)="toggleShowItemForm()"
  (itemAdded)="addItemToBackend($event)"
>
</app-item-form>
-->
<app-item-form
  *ngIf="showItemForm"
  (visible)="toggleShowItemForm()"
  (itemAdded)="onItemAdded($event)"
>
</app-item-form>