 <!-- Daily section -->
 <div class="bg-slate-50 rounded-xl p-5 h-full">
     <h1 class="text-center text-3xl font-black">Today</h1>
     <h2 class="text-center text-xl font-bold">Total customers:</h2>
     <h4 class="text-center">{{ totalCustomers }}</h4>
     <h2 class="text-center font-bold text-xl">Top sellers:</h2>
     <h4 class="text-center">Pandesal {{ topSellers.pandesal }}</h4>
     <h4 class="text-center">Okinawa Milktea {{ topSellers.okinawaMilktea }}</h4>
     <h4 class="text-center">Mocha Cake {{ topSellers.mochaCake }}</h4>
 </div>
 