.dashboard-container {
  font-family: Arial, sans-serif;
  background-color: #ffecb3;
  padding: 20px;
  height: 70.5vh; /* Takes up 100% of the viewport height */
  margin: 0; /* Remove margin for consistent sizing */
  box-sizing: border-box; /* Ensures padding doesn't increase the height */
}

/* Navigation Bar */
.navbar {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 8px;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-buttons .nav-btn {
  background-color: #5d3b09;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.nav-buttons .nav-btn:hover {
  background-color: #ffda91;
  color: #5d3b09;
}

.nav-buttons .nav-btn.active,
.nav-buttons .nav-btn[class~="active"] {
  background-color: #ffda91;
  color: #5d3b09;
}

/* Chart Content */
.chart-container {
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 340px; /* Fixed height for the container */
}

.chart-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}
