<div class="lg:w-4/12 mt-40 p-10 rounded-lg shadow-lg mx-auto bg-white">
  <h3 class="text-3xl font-semibold py-5">Reset Password</h3>
  <form [formGroup]="forgotPasswordForm" class="flex flex-col">
    <span class="mb-2">
        Enter your email and we'll send you instructions on how to reset your password.
    </span>
    <div *ngIf="errorMessage" class="text-red-500 mb-2">{{ errorMessage }}</div>
    <div class="flex flex-col mt-1 mb-1">
      <input formControlName="email" type="text" class="p-2 border border-gray-300 rounded" placeholder="Email">
      <span *ngIf="forgotPasswordForm.hasError('required','email') && forgotPasswordForm.controls['email'].dirty"
        class="text-red-500 mt-1 text-sm">* Email is Required</span>
      <span *ngIf="forgotPasswordForm.hasError('email','email') && forgotPasswordForm.controls['email'].dirty"
        class="text-red-500 mt-1 text-sm">* Email is invalid</span>
    </div>
    <div class="mt-2">
        <button (click)="submit()" [disabled]="forgotPasswordForm.invalid" [class.disabled]="forgotPasswordForm.invalid" class="bg-yellow-900 w-1/4 mr-3 p-2 rounded md text-white">Submit</button>
        <button (click)="router.navigate(['/'])" type="button" class="bg-gray-500 w-1/4 p-2 rounded md text-white">Cancel</button>
    </div>
  </form>
</div>
<!--
<div class="container">
    <div class="form-wrapper">
        <div class="form-header">
            <i (click)="goBack()">&#8592;</i>
            <h2>Reset Password</h2>
        </div>
        <p class="form-text">Please provide the email address associated with your account, and we will send you a verification code to reset your password.</p>


        <form (ngSubmit)="onForgotPassword()">
            <input
                type="email"
                class="input-field"
                placeholder="example@email.com"
                [(ngModel)]="email"
                name="email"
                required>

            <button type="submit" class="submit-button">SUBMIT</button>

        </form>
    </div>
</div>
-->
