<body>
<!--
    <div class="login-container">
        <div class="login-image"></div>
        <div class="login-form">
            <h1>Psalm 23 Cafe</h1>
            <form (submit)="redirect($event)">
                -->
  <div class="login-container">
      <div class="login-image"></div>
      <div class="login-form">
          <h1>Psalm 23 Cafe</h1>
          <form (ngSubmit)="onLogin()"> <!-- swap if BE login endpoint okay -->
            <!-- <form>  -->
              <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>
                <div class="input-container email">
                    <label for="email">Email</label>
                    <input type="email" [(ngModel)]="email" id="email" name="email" placeholder="Email@example.com" required> <!-- swap if BE login endpoint okay -->
                    <!-- <input type="email" id="email" name="email" placeholder="Email@example.com" required> swap -->
                </div>
                <div class="input-container password">
                    <label for="password">Password</label>
                    <input type="password" [(ngModel)]="password" id="password" name="password" placeholder="Password" required> <!-- swap if BE login endpoint okay -->
                    <!-- <input type="password" id="password" name="password" placeholder="Password" required> swap -->
                </div>
                <div class="button-container">
                <button type="submit" class="login-button">Log In</button>
                <button type="button" class="signup-button" (click)="navigateToCreateAccount()">Sign Up</button>
              </div>
            </form>
          <p>
            <a (click)="navigateToForgotPassword()" class="forgot-password">Forgot Password?</a>
          </p>
      </div>
  </div>
</body>

