<body>
    <div class="login-container">
        <div class="login-image"></div>
        <div class="login-form">
            <h1>Psalm 23 Cafe</h1>
            <form (submit)="redirect($event)">
                <div class="input-container email">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Email@example.com" required>
                </div>
                <div class="input-container password">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Password" required>
                </div>
                <button type="submit">Log In</button>
            </form>
            <p><a href="#" class="forgot-password">Forgot Password?</a></p>
        </div>
    </div>
  </body>
  