<div *ngIf="isFormVisible" class="popup-overlay">
    <div class="popup-container">
      <button class="close-popup" (click)="closePopup()">X</button>
      <div class="form-header">
        <h3>Account Information</h3>
      </div>
      <form>
        <div class="name-fields">
            <input id="name" type="text" class="input-field" placeholder="First Name" />
            <input id="lastName" type="text" class="input-field" placeholder="Last Name" />
        </div>
        <div class="role-field">
          <select id="userRole" name="role" class="input-field">
            <option value="">Select Role</option>
            <option value="Admin">Baker</option>
            <option value="User">Assistant Baker</option>
            <option value="Cashier">Cashier</option>
          </select>
        </div>
        <input id="email" type="email" class="input-field" placeholder="Email" />

        <button type="submit" class="submit-button">Submit</button>
      </form>
    </div>
</div>

