.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .popup-container {
    background-color: #F9C03F; 
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  

  .popup-container h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
    color: #000000; 
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .input-field {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box;
    margin-bottom: 15px;
    color: #333;
  }
  
  .role-field select {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box;
    color: #333;
    margin-bottom: 15px;
  }
  
  .submit-button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    background-color: #FFD500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #13a886;
  }
  
  .close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    font-weight: bold;
    z-index: 1100; 
  }
  
  .close-popup:hover {
    color: #f44336; 
  }
  
  .name-fields {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .name-fields .input-field {
    width: 48%; 
  }
  