
/* Delete Confirmation Modal */
.confirm-delete-btn {
    background-color: #4CAF50; /* Green background */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    width: 48%;
  }

  .popup-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
  
  .popup-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FDCB58; /* Updated background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    outline: 2px solid black;
  }
  
  .popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .popup-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .popup-content form div {
    margin-bottom: 15px;
    width: 100%;
  }
  
  .popup-content form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .popup-content form input,
  .popup-content form select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .add-btn {
    background-color: #4CAF50; /* Green background */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    width: 48%;
  }
  
  .cancel-btn {
    background-color: #f44336; /* Red background */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    width: 48%;
  }