<div class="flex flex-col space-y-2 m-2 justify-center h-full">
    <button class="bg-amber-800 focus:bg-amber-600 text-white p-2 rounded-lg" (click)="selectCategory('Bread')">Bread</button>
    <button class="bg-amber-800 focus:bg-amber-600 text-white p-2 rounded-lg" (click)="selectCategory('Cake')">Cake</button>
    <button class="bg-amber-800 focus:bg-amber-600 text-white p-2 rounded-lg" (click)="selectCategory('Coffee')">Coffee</button>
    <button class="bg-amber-800 focus:bg-amber-600 text-white p-2 rounded-lg" (click)="selectCategory('Pastry')">Pastry</button>
</div> 