<div class="sidebar" [class.active]="isMenuActive">
    <ul>
        <li (click)="gotoDashboard()">Dashboard</li>
        <li (click)="gotoInventory()">Inventory</li>
        <li (click)="gotoReports()">Reports</li>
        <li (click)="gotoAccountManagement()">Account Management</li>
        <li (click)="gotoAccountMonitoring()">Attendance Monitoring</li>
        <li (click)="gotoProductManagement()">Product Management</li>
        <!--
        <li (click)="gotoSupplies()">Supplies</li>
        <li (click)="gotoclockin()">Clock-in</li>
        <li (click)="gotoProduction()">Production</li>
        <li (click)="gotoScrapping()">Scrapping</li>
        -->
        <li class="logout" (click)="logout()">Log Out</li>
    </ul>
</div>
