<div class="lg:w-4/12 mt-40 p-10 rounded-lg shadow-lg mx-auto bg-white">
  <h3 class="text-3xl font-semibold py-5">Reset Your Password</h3>
  <form [formGroup]="resetPasswordForm" class="flex flex-col">
    <span class="mb-2">
      Please use strong password
    </span>
    <div class="flex flex-col mt-4 mb-1">
      <input formControlName="password" type="password" class="p-2 border border-gray-300 rounded" placeholder="Password">
      <span *ngIf="resetPasswordForm.hasError('required','password') && resetPasswordForm.controls['password'].dirty"
        class="text-red-500 mt-1 text-sm">* Password is Required</span>
    </div>
    <div class="flex flex-col mt-4 mb-1">
      <input formControlName="confirmPassword" type="password" class="p-2 border border-gray-300 rounded"
        placeholder="Confirm Password">
      <span *ngIf="resetPasswordForm.hasError('required','confirmPassword') && resetPasswordForm.controls['confirmPassword'].dirty"
        class="text-red-500 mt-1 text-sm">* Confirm Password is Required</span>
      <span *ngIf="resetPasswordForm.hasError('confirmPasswordValidator','confirmPassword') && resetPasswordForm.controls['confirmPassword'].dirty"
        class="text-red-500 mt-1 text-sm">* Password didn't matched</span>
    </div>
    <div class="mt-2">
      <button (click)="reset()" [disabled]="resetPasswordForm.invalid" [class.disabled]="resetPasswordForm.invalid"
        class="bg-yellow-900 mr-3 p-2 rounded-md text-gray-50 px-4 text-base">Submit</button>
    </div>
  </form>
</div>