<div class="lg:w-3/12 mt-40 p-10 rounded-md shadow-lg mx-auto">
  <h3 class="text-3xl text-bold py-5">Reset Your Password</h3>
  <form [formGroup]="resetPasswordForm" class="flex flex-col">
    <span class="mb-2">
      Please use strong password
    </span>
    <div class="flex flex-col mt-4 mb-1">
      <input formControlName="password" type="text" class="p-2 border border-gray-300 rounded" placeholder="Password">
      <span *ngIf="resetPasswordForm.hasError('required','password') && resetPasswordForm.controls['password'].dirty"
        class="text-red-500 mt-1 text-sm">* Password is Required</span>
    </div>
    <div class="flex mb-4 flex-col mt-4">
      <input formControlName="confirmPassword" type="text" class="p-2 border border-gray-300 rounded"
        placeholder="Confirm Password">
      <span *ngIf="resetPasswordForm.hasError('required','password') && resetPasswordForm.controls['password'].dirty"
        class="text-red-500 mt-1 text-sm">* Confirm Password is Required</span>
      <span class="text-red-500 mt-1 text-sm">* Password didn't matched</span>
    </div>
    <div class="mt-2">
      <button (click)="reset()" [disabled]="resetPasswordForm.invalid" [class.disabled]="resetPasswordForm.invalid"
        class="bg-indigo-500 w-1/4 mr-3 p-2 rounded-md text-gray-50">Submit</button>
    </div>
  </form>
</div>


<!--
<div class="container">
    <div class="form-wrapper">
      <div class="form-header">
        <i onclick="history.back()">&#8592;</i>
        <h2>Reset Password</h2>
      </div>
      <p class="form-text">Please provide the following info</p>
      <form (ngSubmit)="onSubmit()">
        <input
          type="password"
          class="input-field"
          placeholder="new password"
          name="password"
          [(ngModel)]="password"
          required
        />
        <input
          type="password"
          class="input-field"
          placeholder="confirm new password"
          name="confirmPassword"
          [(ngModel)]="confirmPassword"
          required
        />
          <button type="submit" class="submit-button">SUBMIT</button>
        </form>
      </div>

      <div class="popup-backdrop" *ngIf="isPromptVisible" (click)="closePopup()"></div>
      <div class="popup-modal" *ngIf="isPromptVisible">
        <div class="popup-content">
          <p>Are you sure you want to reset your password?</p>
          <div class="button-group">
            <button (click)="confirmReset()">Yes</button>
            <button (click)="closePopup()">No</button>
          </div>
        </div>
      </div>
    </div>

-->
