<div class="main-content" [class.active]="isMenuActive">
    <div class="restock-form-container">
        <h1 class="title">Restock Form</h1>
      
        <div class="add-item-btn-container">
          <button (click)="openRestock()" class="add-item-btn">Add Item</button>
        </div>
      
        <form [formGroup]="restockForm" (ngSubmit) = "onSubmit()">
          <div class="rsetock-table-container">
        <table class="restock-table">
          <thead>
            <tr>
              <th>Item</th>
              <th>Quantity</th>
              <th>Expiration Date</th>
              <th>Price</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody formArrayName="rows">
            <!-- Example of an item row, can be dynamically added using Angular -->
            <tr *ngFor="let row of rows.controls; let i = index" [formGroupName]="i">
              <td><input formControlName="name" class="cell-content" /></td>
              <td><input formControlName="quantity" type="number" class="cell-content" /></td>
              <td><input formControlName="expireDate" type="date" class="cell-content" /></td>
              <td><input formControlName="price" type="number" step="0.01" class="cell-content" /></td>
              <td>
                  <!--button type="button" class="edit-btn" >Edit</button-->
                  <button type="button" (click)="confirmDeleteRow(i)" class="del-btn">Delete</button>
              </td>
          </tr>
          
          </tbody>
        </table>
      </div>
        <!-- Submit and Cancel buttons below the table -->
        <div class="form-buttons">
          <button type="submit" class="submit-btn">Submit</button>
          <button type="button" (click)="openCancelModal()" class="cancel-btn">Cancel</button>
        </div>
      </form>
      </div>
      
</div>

 <!-- Include Restock Modal -->
 <app-item-restock
 *ngIf="showRestock"
 (close)="closeRestock()"
 (restockItem)="onRestockItem($event)">
 
</app-item-restock>

<app-confirm-modal
*ngIf="showModal"
[message]="modalMessage"
(confirmed)="onConfirmed($event)"
(canceled)="onModalCancel()"
></app-confirm-modal>