<!-- 

<div class="container">
    <div class="form-wrapper">
        <div class="form-header">
            <i onclick="history.back()">&#8592;</i>
            <h2>Reset Password</h2>
        </div>
        <p class="form-text">Please provide the email address associated with your account, and we will send you a verification code to reset your password.</p>
        <input type="email" class="input-field" placeholder="example@email.com" required>
        <button class="submit-button" (click)="onSubmit()">SUBMIT</button>
    </div>
</div> -->

<div class="container">
    <div class="form-wrapper">
        <div class="form-header">
            <i (click)="goBack()">&#8592;</i>
            <h2>Reset Password</h2>
        </div>
        <p class="form-text">Please provide the email address associated with your account, and we will send you a verification code to reset your password.</p>

        <!-- Use ngSubmit for form submission instead of click event on the button -->
        <form >
        <!-- <form (ngSubmit)="onForgotPassword()"> -->
            <input 
                type="email" 
                class="input-field" 
                placeholder="example@email.com" 
                [(ngModel)]="email" 
                name="email" 
                required>

            <button type="submit" class="submit-button" (click)="onSubmit()">SUBMIT</button>
        </form>
    </div>
</div>
