<div>
    <div class="centered-toggle" (click)="toggleView()">
        <div class="toggle-container">
          <div class="toggle-option" [class.active]="isAddActive">ADD</div>
          <div class="toggle-option" [class.active]="!isAddActive">VIEW</div>
        </div>
    </div>

    <div class="table-section">
        <div class="filter-section" [ngClass]="{'hidden': isAddActive}">
            <div class="date-filter">
                <label for="fromDate">From:</label>
                <input type="date" id="fromDate" [(ngModel)]="fromDate">
                <label for="toDate">To:</label>
                <input type="date" id="toDate" [(ngModel)]="toDate">
            </div>
            <div class="download-section">
                <span class="download-title">Download:</span>
                <div class="download-buttons">
                    <button>Custom Download</button>
                    <button>All Time</button>
                    <button>Month to Date</button>
                    <button>Today</button>
                </div>
            </div>
        </div>
        
        <div class="product-info"></div>
        <div class="table-container">
        <table>
            <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Date Used</th>
                <th>Expiration date</th>
                <th *ngIf="isAddActive">Action</th> <!-- Conditional rendering for the Action header -->
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pandesal</td>
                    <td>1 Kilogram</td>
                    <td>October 24, 2024</td>
                    <td>October 27, 2024</td>
                    <td *ngIf="isAddActive"> 
                        <button>Edit</button>
                        <button>Delete</button>
                    </td>   
                </tr>
            <tr *ngFor="let record of productData">
                <td>{{ record.product_item }}</td>
                <td>{{ record.product_quantity }}</td>
                <td>{{ record.product_date }}</td>
                <td>{{ record.product_expiration }}</td>
                <td *ngIf="isAddActive"> 
                    <button>Edit</button>
                    <button>Delete</button>
                </td>   
            </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div class="submit" [ngClass]="{'hidden': !isAddActive}">
        <button>Submit</button>
    </div>
</div>
