.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.popup-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F9C03F;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  outline: 2px solid black;
}

.popup-content p {
  margin-top: 15px; /* Adds space above the paragraph */
}

.popup-content h2 {
  margin-bottom: 15px; /* Adds space below the heading */
}

form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

select, input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:disabled {
  background-color: #ccc;
}

/* Styling for button group */
.button-group {
  display: flex;
  justify-content: space-between;
}

.button-group button {
  width: 48%; /* Make each button take up 48% of the container width */
}

.cancel-btn {
  background-color: #f44336;
  color: white;
}

button:hover {
  opacity: 0.8;
}

input[type="text"] {
  display: block;
  margin-top: 5px;
}
