<div>
    <div class="table-section">
        <div class="supply-info">
        </div>
        <div class="table-container">
        <table>
            <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Date Used</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Flour</td>
                    <td>1 Kilogram</td>
                    <td>October 24, 2024</td>
                    <td></td>
                </tr>
            <tr *ngFor="let record of supplyData">
                <td>{{ record.supply_item }}</td>
                <td>{{ record.supply_quantity }}</td>
                <td>{{ record.supply_date }}</td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div class="submit">
        <button>Submit</button>
    </div>
</div>