<div>
    <div class="centered-toggle" (click)="toggleView()">
        <div class="toggle-container">
          <div class="toggle-option" [class.active]="isAddActive">ADD</div>
          <div class="toggle-option" [class.active]="!isAddActive">VIEW</div>
        </div>
    </div>
      
    <div class="table-section">
        <div class="filter-section" [ngClass]="{'hidden': isAddActive}">
            <div class="date-filter">
                <label for="fromDate">From:</label>
                <input type="date" id="fromDate" [(ngModel)]="fromDate" (change)="applyDateFilter()">
                <label for="toDate">To:</label>
                <input type="date" id="toDate" [(ngModel)]="toDate" (change)="applyDateFilter()">
            </div>
            <div class="download-section">
                <span class="download-title">Download:</span>
                <div class="download-buttons">
                    <button>Custom Download</button>
                    <button>All Time</button>
                    <button>Month to Date</button>
                    <button>Today</button>
                </div>
            </div>
        </div>
        <div class="supply-info">
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Date Used</th>
                            <th *ngIf="isAddActive">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let record of isAddActive ? supplyData : filteredSupplyData">
                            <td>{{ record.supply_item }}</td>
                            <td>{{ record.supply_quantity }}</td>
                            <td>{{ record.supply_date }}</td>
                            <td *ngIf="isAddActive"> 
                                <button>Edit</button>
                                <button>Delete</button>
                            </td>   
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="submit" [ngClass]="{'hidden': !isAddActive}">
        <button>Submit</button>
    </div>
</div>
